# Ignore all .env files
.env

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files (VSCode, IntelliJ, etc.)
.vscode/
.idea/

# Ignore the client build folder (if it's built from react)
client/build/

